NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/redresumes?schema=public
REDIS_URL=redis://redis:6379
JWT_SECRET=change_me_super_secret_123
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=masterKey
S3_BUCKET=local-bucket
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=dummy
S3_SECRET_ACCESS_KEY=dummy
ADZUNA_APP_ID=
ADZUNA_APP_KEY=
JOOBLE_API_KEY=23403f22-f52b-4122-9e39-f8bb27467ef3
